@tailwind base;
@tailwind components;
@tailwind utilities;


.nav-colour {
    background: rgb(218, 154, 36);
}

.mobile-nav {
    @apply fixed top-10 left-0 right-1 bg-gray-800  w-full h-1/6;
}
.mobile-nav li {
    @apply h-full w-full text-center px-10 border-b-2;
}


.bg-primary{
  background :#131e25;
}

.btn {
    @apply nav-colour px-5 py-2 font-bold hover:border-2 border-white rounded;
}

html {
    scroll-behavior: smooth;
}